/Semester3/PBO/Week-1/NewProject/nbproject/private/
/Semester3/PBO/Week-1/NewProject/build/
/Semester3/PBO/Week-2/JavaApplication2/nbproject/private/
/Semester3/PBO/Week-2/JavaApplication2/build/
/Semester3/PBO/Week-2/JavaApplication2/dist/
/Semester3/PBO/Week-3/MotorEncapsulation/nbproject/private/
/Semester3/PBO/Week-3/MotorEncapsulation/build/
/Semester3/PBO/Week-3/Koperasi/nbproject/private/
/Semester3/PBO/Week-3/Koperasi/build/
/Semester3/PBO/Week-3/HandPhone/nbproject/private/
/Semester3/PBO/Week-4/Main/nbproject/private/
/Semester3/PBO/Week-4/DemoHp/nbproject/private/
/Semester3/PBO/Week-4/DemoHp/build/
/Semester3/PBO/New Folder/JavaMengulang/nbproject/private/
/Semester3/PBO/New Folder/NilaiX/nbproject/private/
/Semester3/PBO/New Folder/NilaiX/build/
/Semester3/PBO/New Folder/BangunDatarMain/nbproject/private/
/Semester3/PBO/New Folder/BangunDatarMain/build/
/Semester3/PBO/New Folder/Percobaan3/nbproject/private/
/Semester3/PBO/New Folder/Percobaan4/nbproject/private/
/Semester3/PBO/Week-7/Inheritance1/nbproject/private/
/Semester3/PBO/Week-7/Inheritance1/build/
/Semester3/PBO/Week-7/UTS/nbproject/private/
/Semester3/PBO/UTS/Pertemuan6/target/
/Semester3/PBO/Week-7/Pertemuan7/target/
/Semester3/PBO/UTS/Pertemuan7/target/
